
/* landing page */

body {
	background: url(images/skyline-md.png) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

#skyline .container {
    margin-top: 60vh;
}

#skyline .copy {
    text-align: center;
}

#skyline .copy .heading {
    font-size: 3em;
    font-weight: 600;
}

#skyline .copy .subHeading {
    font-size: 2em;
    line-height: 2em;
    margin-bottom: 3%;
}










